.title {
  text-align: center;

  background-color: lightblue;
}
.firsttitle {
  background-color: lightblue;
  margin-right: 1500px;
}
.disc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.Lasagnaheader {
  background-color: lightblue;
  text-align: center;
}
.ingi {
  display: table;
  margin: 0 auto;
  width: 50%;
}
img {
  width: 800px;
  background-color: lightblue;
  position: sticky;
}
.lasagnatitle {
  background-color: lightblue;
  padding: 15px;
  padding-bottom: 5px;
}
.pizzafromoven {
  background-color: lightblue;
  padding-bottom: 5px;
}
